/* Utilities */
/*  */
.red{
    color: red;
}

.grey{
    color: gray;
}

.green{
    color: #669900;
}

.yellow{
    color: rgb(255, 217, 0);
}
/*  */
/* top bar green */
.top-green{
    background-color: #669900;
    padding: 5px;
    color: white;
    height: 40px;
    font-size: 12px;
}

b{
    padding: 0 5px;
}

.top-green-rgt a{
    padding: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.top-green-rgt a:hover{
    transition: 0.3s;
    opacity: .5;
}

/* header */
header{
    margin: 30px 0;
}


.header-cntr b{
    cursor: pointer;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.header-cntr{
    border: 1px solid gray;
    height: 35px;
}

.header-cntr input, button{
    border-style: none;
    padding: 0 10px;
    height: 100%;
}

header i{
    color: rgb(75, 75, 75);
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

header i:hover{
    transition: 0.3s;
    border-radius: 50px;
    line-height: 20px;
    color: rgb(190, 190, 190);
    
}

/* department */

.department{
    border-top: 1px solid gray;
}

.department-green{
    background-color: #669900;
    padding: 20px 0;
    color: white;
}

.department h6{
    margin: 0 15px;
    cursor: pointer;
}

.department .hov:hover{
    color: #669900;
    transition: 0.3s;
}


.department-green i{
    margin-left: 5px;
}

/* jumbo */


.jumbo img{
    width: 100%;
    height: 100%;
}

.fig-lft{
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.figure{
    margin: 30px 0;
}

/* Categories */

.top-categories{
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.top-categories:hover{
    color: rgb(167, 0, 0);
    transition: .7s;
    margin-left: 50px;
    padding-left: 60px;
    border-left: 3px solid greenyellow;
}

.categories-contain:hover{

}

.categories img{
    width: 150px;
    height: 110px;
    margin: 30px 0;
}

.categories-txt{
    width: 150px;
    height: 150px;
    text-align: center;
}

.categories span{
    display: block;
    font-size: 15px;
}
/* banner */
.banner{
    margin: 50px 0;
}
/* products */
.products-cont{
}

.featured-products:hover{
    color: rgb(167, 0, 0);
    transition: .7s;
    margin-left: 50px;
    padding-left: 60px;
    border-left: 3px solid greenyellow;
}

.products-banner{
    border-bottom: 1px solid gray;
}

.products-cont b{
    margin: 0 20px;
    font-size: 15px;
}

.products-banner b:hover{
    cursor: pointer;
    border-bottom: 2px solid #669900;
    color: #669900;
    transition: 0.3s;
}

.product{
    text-align: center;
}


.product:hover{
    transition: 0.5s;
    border: 3px solid greenyellow;
    cursor: pointer;
    padding: 10px;
}

.product img{
    margin-bottom: 30px;
}

/* jumbo-2 */

.jumbo-2{
    margin: 50px 0;
}

/* products-2 */

.blocco-products-2{
    width: 400px;
}

.corpo:hover{
    border: 3px solid greenyellow;
    transition: 0.3s;
}

.testa h3:hover{
    color: rgb(167, 0, 0);
    transition: .7s;
    padding-left: 60px;
    border-left: 3px solid greenyellow;
}

.blocco-products-2 a:hover{
    transition: 0.3s;
    opacity: .5;
}

.testa{
    margin-bottom: 50px;
    border-bottom: 1px solid gray;
}

.corpo{
    margin: 50px 0;
}

.corpo-img{
    height: 100px;
    width: 100px;
}

.corpo-dati{
    height: 100px;
    width: 300px;
    padding-left: 25px;
}

.corpo-dati h6:hover{
    transition: 0.3s;
    opacity: .5;
    cursor: pointer;
}

/* blog */

.blog{
    margin-top: 50px;
}

.blog-h2{
    margin: 50px 0;
}

.blog-h2:hover{
    margin: 50px 0;
    color: rgb(167, 0, 0);
    transition: .7s;
    margin-left: 50px;
    padding-left: 60px;
    border-left: 3px solid greenyellow;
}


.blocco-blog{
    width: 400px;
}

.blocco-blog:hover{
    transition: 0.5s;
    border-top: 3px solid greenyellow;
    padding-top: 20px;
}

.blocco-blog img{
    margin-bottom: 25px;
    height: 300px;
}

.blog-red:hover{
    transition: 0.3s;
    opacity: .5;
}

.artist:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog-txt:hover{
    text-decoration: underline;
    cursor: pointer;
}
