<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LORADA</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- no responsive -->

</head>
<body>
    <!-- VueJS ID app -->
    <div id="app">
        <!-- top bar green, info, social -->
        <div class="top-green d-flex justify-content-between align-items-center">
            <div class="top-green-lft">
                <b class="lingue">ENGLISH</b> <i class="fas fa-chevron-down"></i>
                <b class="soldi">USD</b> <i class="fas fa-chevron-down"></i>
                <span>Free Shipping For All Orders Of $200</span>
            </div>

            <div class="top-green-rgt">
                <span>Track Your Order</span>
                <a href="https://lorada.c-themes.com/organic/" class="far fa-envelope"></a><span>Newsletter</span>
                
                    <a href="https://lorada.c-themes.com/organic/" class="fab fa-facebook-f"></a>
                    <a href="https://lorada.c-themes.com/organic/" class="fab fa-twitter"></a>
                    <a href="https://lorada.c-themes.com/organic/" class="fab fa-google-plus-g"></a>
                    <a href="https://lorada.c-themes.com/organic/" class="fab fa-instagram"></a>
                    <a href="https://lorada.c-themes.com/organic/" class="fab fa-linkedin-in"></a>
                    <a href="https://lorada.c-themes.com/organic/" class="fas fa-envelope"></a>
                
            </div>
            
        </div>
        <!-- header -->
        <header class="container-fluid d-flex justify-content-between align-items-center">
            <div class="header-lft">
                <h1>LORADA</h1>
            </div>
            <div class="header-cntr d-flex align-items-center">
                <input v-model="text" @keyup.enter="cerca" type="text" name="text" id="" placeholder="Search for products...">
                <b>ALL CATEGORIES <i class="fas fa-chevron-down"></i></b> 
                <button @click="cerca"><i class="fas fa-search"></i></button>
            </div>
            <div class="header-rgt">
                <i class="far fa-user"></i>
                <i class="far fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
            
            
        </header>
        <!-- department -->
        <div class="department d-flex justify-content-between align-items-center">
            <div class="d-flex department-lft align-items-center">
                <div class="department-green">
                    <h6><i class="fas fa-bars"></i> ALL DEPARTMENT <i class="fas fa-chevron-down"></i></h6>
                </div>
                <h6 class="hov">SHOP<i class="fas fa-chevron-down grey"></i></h6>
                <h6 class="hov">ABOUT</h6>
                <h6 class="hov">BLOG <i class="fas fa-chevron-down grey"></i></h6>
                <h6 class="hov">CONTACT <i class="fas fa-chevron-down grey"></i></h6>
                
            </div>
            <div class="d-flex department-rgt align-items-center">
                <i class="fas fa-headset"></i>
                
                <span class="grey">Hotline</span><b>(364) 106 7572</b>
            </div>
        </div>
        <!-- jumbo -->
        <div class="jumbo">
            <img src="img/hero-organic-1.png" alt="">
            <div class="d-flex justify-content-around  figure">
                <div class="d-flex">
                    <div class="fig-lft">
                        <i class="fas fa-truck green"></i>
                    </div>
                    <div class="fig-rgt figure-txt">
                        <b>Free Shipping</b>
                        <p class="grey">Orders over $200</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="fig-lft">
                        <i class="fas fa-wallet green"></i>
                    </div>
                    <div class="fig-rgt">
                        <b>Quick Payment</b>
                        <p class="grey">100% secure payment</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="fig-lft">
                        <i class="fas fa-gifts green"></i>
                    </div>
                    <div class="fig-rgt">
                        <b>Gift Certificate</b>
                        <p class="grey">Buy now $500 to $1000</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="fig-lft">
                        <i class="fas fa-headphones green"></i>
                    </div>
                    <div class="fig-rgt">
                        <b>24/7 Support</b>
                        <p class="grey">Ready support</p>
                    </div>
                 
            </div>
        </div>

        <!-- Categories  -->
        <h2 class="top-categories">Top Categories Of This Month</h2>
        <div class="categories d-flex justify-content-around">
            <div class="categories-contain">
                <a href=""><img src="img/organic-cat-1.png" alt=""></a>
                <div class="categories-txt">
                    <h5>Butter & Eggs</h5>
                    <span class="grey">Organic Eggs</span>
                    <span class="grey">Standard White Eggs</span>
                    <span class="grey">Flora Buttery Spread</span>
                    <span class="grey">Tesco Buttery Spread</span>
                </div>
            </div>

            <div class="categories-contain">
                <a href=""><img src="img/organic-cat-2.png" alt=""></a>
                <div class="categories-txt">
                    <h5>Fresh Fruits</h5>
                    <span class="grey">Bananas Loose</span>
                    <span class="grey">Honeycrisp Apples</span>
                    <span class="grey">Honeydew Melon</span>
                    <span class="grey">Tesco Raspberries</span>
                </div>
            </div>

            <div class="categories-contain">
                <a href=""><img src="img/organic-cat-3.png" alt=""></a>
                <div class="categories-txt">
                    <h5>Milk & Cream</h5>
                    <span class="grey">Whole Milk</span>
                    <span class="grey">Skim Milk</span>
                    <span class="grey">Single Cream</span>
                    <span class="grey">Light Cream</span>
                </div>
            </div>

            <div class="categories-contain">
                <a href=""><img src="img/organic-cat-4.png" alt=""></a>
                <div class="categories-txt">
                    <h5>Vegetables</h5>
                    <span class="grey">Avocados</span>
                    <span class="grey">Beans & Peas</span>
                    <span class="grey">Broccoli & Cauliflower</span>
                    <span class="grey">Brussels Sprouts</span>
                </div>
            </div>

            <div class="categories-contain">
                <a href=""><img src="img/organic-cat-5.png" alt=""></a>
                <div class="categories-txt">
                    <h5>Fresh Meat</h5>
                    <span class="grey">Beef</span>
                    <span class="grey">Pork</span>
                    <span class="grey">Chicken</span>
                    <span class="grey">Turkey</span>
                </div>
            </div>
            
        </div>

        <!-- banner -->
        <div class="row banner">
            <div class="col-6">
                <a href=""><img src="img/organic-banner-1.jpg" alt=""></a> 
            </div>
            <div class="col-6">
                <a href=""><img src="img/organic-banner-2.jpg" alt=""></a> 
            </div>
        </div>

        <!-- products -->
        <div class="products-cont">
            <div class="products-banner d-flex justify-content-between align-items-center">

                    <h2 class="featured-products">Featured Products</h2>
               
                    <div>
                        <b>Fresh</b>
                        <b>Ocean Food</b>
                        <b>Fruits</b>
                        <b>Butter & Eggs</b>
                    </div>
                        
            </div>

            <div class="row d-flex align-items-center">
                <div v-for="(element, index) in wishArray" class="product col-3">
                    <img :src=" 'img/' + element.immagine + '.jpg' "  alt="" class="products-img">
                    <br>
                    <span class="grey">{{element.tipo}}</span>
                    <br>
                    <b>{{element.nomeProdotto}}</b>
                    <br>
                    <b class="green price">{{element.prezzo}}</b>
                    <br>
                    <button @click="wishButton">Wishlist</button>
                </div>
    
                <!-- <div class="product">
                    <img src="img/2a.jpg" alt="">
                    <br>
                    <span class="grey">Fresh Fruits</span>
                    <br>
                    <b>Mango Organic Fruit</b>
                    <br>
                    <b class="green price">€18.55 - €45.00</b>
                    <br>
                    <button>Wishlist</button>
                </div>
    
                <div class="product">
                    <img src="img/4a.jpg" alt="">
                    <br>
                    <span class="grey">Fresh Fruits</span>
                    <br>
                    <b>Mango Organic Fruit</b>
                    <br>
                    <b class="green price">€18.55 - €45.00</b>
                    <br>
                    <button>Wishlist</button>
                </div>
    
                <div class="product">
                    <img src="img/5a.jpg" alt="">
                    
                    <br>
                    <span class="grey">Fresh Fruits</span>
                    <br>
                    <b>Mango Organic Fruit</b>
                    <br>
                    <b class="green price">€18.55 - €45.00</b>
                    <br>
                    <button>Wishlist</button>
                </div> -->
            </div>

        </div>

        <!-- jumbo-2 -->
        <div class="jumbo-2">
            <img src="img/orange-juice-smoothie-milkshake-png-favpng-5BH8j8g2VHvXEP50mp99uYSFC.jpg" alt="">
        </div>

        <!-- products-2 -->
        <div class="products-2 d-flex justify-content-around">
            <!-- new arrivals -->
            <div class="blocco-products-2">
                <div class="testa d-flex justify-content-between align-items-center">
                    <h3>New Arrivals</h3>
                    <a href=""><i class="fas fa-chevron-right grey"></i></a>
                </div>
                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/14a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Large Red Apples Fruit Australia</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                        </div>
                        <b class="green">€48.55 </b> <b class="grey">   ̶€5̶6̶.̶9̶9̶</b>
                    </div>
                </div>

                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/13a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Organic Food Natural Coconut</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star grey"></i>
                        </div>
                        <b class="green">€18.55 </b> <b class="grey">   ̶€2̶3̶.̶9̶9̶</b>
                    </div>
                </div>

                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/12a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Juice Smoothie Pineapple Fruit</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                        </div>
                        <b class="green">€40.05 </b> <b class="grey">   ̶€6̶0̶.̶0̶0̶</b>
                    </div>
                </div>
                
            </div>
            <!-- On sale -->
            <div class="blocco-products-2">
                <div class="testa d-flex justify-content-between align-items-center">
                    <h3>On Sale</h3>
                    <a href=""><i class="fas fa-chevron-right grey"></i></a>
                </div>
                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/2a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Meat Veal Orloff Beef Steak</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                        </div>
                        <b class="green">€69.99 </b> <b class="grey">   ̶€4̶5̶.̶0̶0̶</b>
                    </div>
                </div>

                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/5a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Pomegranate Fruit Peach</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                        </div>
                        <b class="green">€18.55 </b> <b class="grey">   ̶€ ̶2̶0̶.̶0̶0̶</b>
                    </div>
                </div>

                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/6a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Milkshake Powdered Skimmed</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                        </div>
                        <b class="green">€36.90 </b> <b class="grey">   ̶€ 4̶5̶.̶9̶0̶</b>
                    </div>
                </div>
                
            </div>
            <!-- Top rated -->
            <div class="blocco-products-2">
                <div class="testa d-flex justify-content-between align-items-center">
                    <h3>Top Rated</h3>
                    <a href=""><i class="fas fa-chevron-right grey"></i></a>
                </div>
                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/12a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Juice Smoothie Pineapple Fruit</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                        </div>
                        <b class="green">€40.05 </b> <b class="grey">   ̶€6̶0̶.̶0̶0̶</b>
                    </div>
                </div>

                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/2a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Meat Veal Orloff Beef Steak</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                        </div>
                        <b class="green">€36.99 </b> <b class="grey">   ̶€4̶5̶.̶0̶0̶</b>
                    </div>
                </div>

                <div class="corpo d-flex align-items-center">
                    <div class="corpo-img">
                        <img src="img/3a.jpg" alt="">
                    </div>
                    <div class="corpo-dati">
                        <h6>Juice Eletronic Cigarette Aerosol</h6>
                        <div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                        </div>
                        <b class="green">€16.00 </b> <b class="grey">   ̶€6̶0̶.̶0̶0̶</b>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- jumbo-3 -->
        <div class="jumbo-3">
            <img src="img/abbattitore_temperatura.jpeg" alt="">
        </div>

        <!-- blog -->
        <h2 class="blog-h2">The Latest Blog</h2>
        <div class="blog d-flex d-flex justify-content-around">
            
            <div class="blocco-blog">
                <img src="img/organic-post-1.jpg" alt="">
                <div class="d-flex">
                    <b class="red blog-red">INSPIRATION</b>
                    <ul>
                        <li class="grey">feb 22, 2021</li>
                    </ul>
                    <ul>
                        <li class="grey artist">Kevin Feil</li>
                    </ul>
                </div>
                <b class="blog-txt">Ten delicious beef recipes made famous by the chef</b>
            </div>

            <div class="blocco-blog">
                <img src="img/Caffè-Bloh.png" alt="">
                <div class="d-flex">
                    <b class="red blog-red">LOOKBOOK</b>
                    <ul>
                        <li class="grey">feb 22, 2021</li>
                    </ul>
                    <ul>
                        <li class="grey artist">Rene Tromp</li>
                    </ul>
                </div>
                <b class="blog-txt">For good health, breakfast is most important</b>
            </div>

            <div class="blocco-blog">
                <img src="img/organic-post-3.jpg" alt="">
                <div class="d-flex">
                    <b class="red blog-red">NEWS</b>
                    <ul>
                        <li class="grey">feb 22, 2021</li>
                    </ul>
                    <ul>
                        <li class="grey artist">Kevin Feil</li>
                    </ul>
                </div>
                <b class="blog-txt">Strawberry ice cream recipe with evaporated milk</b>
            </div>
        </div>
        
        <!-- footer -->
        <footer>
            
        </footer>
    </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>